hgroup {
	font-size: 30px;
}


/* side bar left */

.i-am {
	text-align: left;
}


/* main body */

.header {
	border: solid red 2px;
}
.content-subhead {
	text-align: center;
	font-size: 30px;
}

.picture {
	border: solid blue 2px;
}
.post-header {
	border: solid green 2px;
	float: left;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 270px;
}

.self-description {
	text-align: left;
	/*vertical-align: bottom;*/
	font-size: 25px;
	font-family: sans-serif;
	color: black;
}


/* footer */

.footer {
	border: solid black 2px;
	width: 900px;
	float: ;
}
.name {
	border: solid black 2px;
	text-align: center;
	font-size: 40px;
}

.social-links{
	color: rgb(176, 202, 219);
	/*float: left;
	text-align: right;*/
	margin: 15px;
	width: 30px;
	height: 30px;
	padding: 0px;
}

.fa {
	color: rgb(176, 202, 219);
	height: 50px;
	width: 50px;
	margin: 0px;
	padding: 0px;
}

.footer {
	border: solid red 2px;
}

ul {
	border: solid yellow 2px;
	width: 100%;
}


